*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    width: 100%;   
    background-size: cover;
background: linear-gradient(153deg, rgba(255,187,238,1) 0%, rgba(255,51,119,1) 35%, rgba(255,187,238,1) 100%);
}

button{
    cursor: pointer;
}